<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Amy Pickup</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
       
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script>
    // Simple JavaScript Templating
    // John Resig – http://ejohn.org/ – MIT Licensed
    (function(){
    var cache = {};

    this.tmpl = function tmpl(str, data){
    // Figure out if we’re getting a template, or if we need to
    // load the template – and be sure to cache the result.
    var fn = !/\W/.test(str) ?
    cache[str] = cache[str] ||
    tmpl(document.getElementById(str).innerHTML) :

    // Generate a reusable function that will serve as a template
    // generator (and which will be cached).
    new Function(“obj”,
    “var p=[],print=function(){p.push.apply(p,arguments);};” +

    // Introduce the data as local variables using with(){}
    “with(obj){p.push(‘” +

    // Convert the template into pure JavaScript
    str
    .replace(/[\r\t\n]/g, ” “)
    .split(“<%").join("\t") .replace(/((^|%>)[^\t]*)’/g, “$1\r”)
    .replace(/\t=(.*?)%>/g, “‘,$1,'”)
    .split(“\t”).join(“‘);”)
    .split(“%>”).join(“p.push(‘”)
    .split(“\r”).join(“\\'”)
    + “‘);}return p.join(”);”);

    // Provide some basic currying to the user
    return data ? fn( data ) : fn;
    };
    })();
    // A hash to store our routes:
    var routes = {};
    //
    function route (path, templateId, controller) {
      routes[path] = {templateId: templateId, controller: controller};
    }
    var el = null;
    function router () {
      // Lazy load view element:
      el = el || document.getElementById('view');
        // Current route url (getting rid of '#' in hash as well):
        var url = location.hash.slice(1) || '/';
        // Get route by url:
        var route = routes[url];
        // Do we have both a view and a route?
        if (el && route.controller) {
          // Render route template with John Resig's template engine:
            el.innerHTML = tmpl(route.templateId, new route.controller());
        }
    }
    // Listen on hash change:
    window.addEventListener('hashchange', router);
    // Listen on page load:
    window.addEventListener('load', router);
  </script>
  <script type="text/html" id="home">
    <h1>Router FTW!</h1>
  </script>
  <script type="text/html" id="template1">
    <h1>Page 1: <%= greeting %></h1>
    <p><%= moreText %></p>
  </script>
  <script type="text/html" id="template2">
    <h1>Page 2: <%= heading %></h1>
    <p>Lorem ipsum...</p>
  </script>
    
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Amypickup.GitHub.io</h1>
        <p></p>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#/page1">Page 1</a></li>
          <li><a href="#/page2">Page 2</a></li>
        </ul>

        <p class="view"><a href="https://github.com/amypickup">View My GitHub Profile</a></p>

        
      </header>
      <section>
        <p>testing router</p>
        <div id="view"></div>
          <script>
            route('/', 'home', function () {});
            route('/page1', 'template1', function () {
              this.greeting = 'Hello world!';
                this.moreText = 'Bacon ipsum...';
            });
            route('/page2', 'template2', function () {
              this.heading = 'I\'m page two!';
            });
          </script>
      </section>
      <footer>
        <p><small>Amy Pickup, Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script>w3IncludeHTML();</script> 
  </body>
</html>
