button {
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
     color:#39c;
}
button:hover {
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
     color:#069;
}